<header>    
    <head>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>
    <nav>
                <ul class="left">
                    <li><a href="#"><i class="material-icons">home</i>Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
                <ul class="right">
                    <li>
                        <div class="search-container">
                            <input type="text" placeholder="Search...">
                            <i class="material-icons">search</i>
                        </div>
                    </li>
                </ul>
    </nav>
</header>
<body>
    
    
    <!-- <p>projet works!</p> -->
    <div class="images">
        <div class="column-left">
            <img [src]="url1" alt="picture1" class="img">
            <img [src]="url2" alt="picture2" class="img">
            <img [src]="url3" alt="picture3" class="img">
        </div>
        <div class="column-right">
            <img [src]="url4" alt="picture4" class="img">
            <img [src]="url5" alt="picture5" class="img">
        </div>
    </div>
</body>   